/* колір основного тексту #2196F3 */
/* другорядний колір тексту #757575 */
/* білий #FFFFFF */
/* кольори лого #2196F3; #000000 */
/* акцент #2196F3 */
/* колір контактів футера rgba(255, 255, 255, 0.6); */
/* другорядні кольори фону #2F303A; #F5F4FA */
/*outline: 2px solid darkmagenta;*/
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --white-mod: rgba(255, 255, 255, 0.6);
  --primary-bg-color: #f5f4fa;
  --secondary-bg-color: #2f303a;
  --logo-color: #000000;
  --border-header-color: #ececec;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}
img {
  display: block;
}
/* border-bottom: 1px solid #ececec; */
header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-header-color);
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.accent {
  color: var(--logo-color);
}
.down .accent {
  color: var(--primary-white-color);
}
/*------------------------------------- site-nav -----------------------------------*/
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.contact-info .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contact-info .link:hover,
.contact-info .link:focus {
  color: var(--accent-color);
}
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item + .item {
  margin-left: 50px;
}
.page-header {
  display: flex;
  align-items: center;
}
.contact-info {
  display: flex;
  margin-left: auto;
}
.contact-info .item + .item {
  margin-left: 50px;
}
/*----------------------------------------hero--------------------------------------*/
.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 30px;
}
.hero {
  background-color: var(--secondary-bg-color);
  text-align: center;

  padding-top: 200px;
  padding-bottom: 200px;
}
/*--------------------------------------section-------------------------------------*/
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-top: 0;
  margin-bottom: 50px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.make {
  padding-top: 0;
  padding-bottom: 94px;
}
/*--------------------------------------features------------------------------------*/
.feature-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  margin-top: 0;
  margin-bottom: 10px;
}
.feature-list p {
  margin-top: 0;
  margin-bottom: 0;
}
.feature-list {
  display: flex;
  flex-wrap: wrap;
}
.feature-list .item {
  width: 270px;
  margin-right: 30px;
}
.feature-list .item:nth-child(4n) {
  margin-right: 0;
}
.presentation {
  display: flex;
  flex-wrap: wrap;
}
.presentation .item {
  width: 370px;
  margin-right: 30px;
}
.presentation .item:nth-child(3n) {
  margin-right: 0;
}
/*---------------------------------------team---------------------------------------*/
.team-list .team {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  background-color: var(--primary-white-color);

  margin-bottom: 10px;

  display: flex;
  justify-content: center;
}
.card {
  padding: 30px 10px;
  background-color: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
}
.team-list .profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  background-color: var(--primary-white-color);

  display: flex;
  justify-content: center;
}
.section.team {
  background-color: var(--primary-bg-color);

  padding-top: 94px;
  padding-bottom: 94px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
}
.team-list .item {
  width: 270px;
  margin-right: 30px;
}
.team-list .item:nth-child(4n) {
  margin-right: 0;
}
/*--------------------------------------footer--------------------------------------*/
.site-footer .map-link {
  color: var(--primary-white-color);
  text-decoration: none;
  font-style: normal;

  display: block;
  margin-right: 939px;
}
.site-footer .map-link:hover,
.site-footer .map-link:focus {
  color: var(--accent-color);
}
.site-footer .link {
  color: var(--white-mod);
  text-decoration: none;
  font-style: normal;

  display: block;
  margin-right: 939px;
}
.site-footer .link:hover,
.site-footer .link:focus {
  color: var(--accent-color);
}
.down {
  background-color: var(--secondary-bg-color);

  padding-top: 60px;
  padding-bottom: 60px;
}
.site-footer .item:not(:last-child) {
  margin-bottom: 9px;
}
.site-footer {
  margin-top: 20px;
}
/*--------------------------------------button--------------------------------------*/
/* text-align: center; в кнопках за умовчанням*/
button {
  font-family: inherit;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  border-radius: 4px;
}
.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  padding: 10px 32px;
  min-width: 216px;
}
/*-------------------------------------portfolio-------------------------------------*/
.button.secondary {
  color: var(--title-text-color);
  background-color: var(--primary-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  padding: 6px 22px;
  min-width: 73px;
}
.button.secondary:hover,
.button.secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.section-portfolio {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}
.list .product {
  font-size: 16px;
  line-height: 1.87;
}
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter .item + .item {
  margin-left: 8px;
}
.cell {
  display: flex;
  flex-wrap: wrap;
}
.cell .item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.cell .item:nth-child(3n) {
  margin-right: 0;
}
.cell .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.border-cell {
  padding: 20px 24px;

  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
